.table_header {
    border-collapse:collapse;
    background-color:rgb(211,211,211);
    padding: 10px;
}

.table_span {
    position: relative;
    left: 33%;
}

.table_span h1 {
    display: inline-block;
    margin: 15px;
    border-bottom: 1px solid black;
}

table {
    width: 80%;
    border-collapse:collapse;
    background-color:rgb(211,211,211);
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.clearfix {
    overflow: auto;
}

td {
    text-align:center;
}

a {
    text-decoration:none;
    color:inherit;
}

img {
    vertical-align: middle;
}

input {
    background-color:#FFFFFF;
}

body {
    margin: 0px;
    margin-bottom: 1em;
    background-color: grey;
}
